.chart {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50vh; /* Hard coded because Track Visibility is around */
  justify-content: center;
}

.chart__bars {
  align-items: flex-end;
  border-bottom: $border;
  border-left: $border;
  display: flex;
  height: 80%;
  position: relative;
  width: 70%;

  @media (max-width: $mobile) {
    height: 60%;
    width: 100%;
  }
}

.chart__bars__item {
  border-top-right-radius: 5px;
  left: 0;
  opacity: 0.88;
  padding: 5px 5px 0 0;
  position: absolute;
  transform-origin: bottom;
  transition: transform 1s ease-in-out;
  text-align: right;
  height: 50%;
}

.chart__bars__item:hover {
  opacity: 1;

  @media (max-width: $mobile) {
    opacity: 0.88;
  }
}

.chart__bars__item h4 {
  color: $base-light;
  font-size: 1.5vw;
  font-weight: $thin;
  transform-origin: left top 0;

  @media (max-width: $mobile) {
    font-size: 2.5vw;
    font-weight: $medium;
  }
}
