.contact {
  background: $base-dark;
  border-top: $border;
  box-shadow: $shadow;
  padding: 5vh 5vw 10vh;
  text-align: center;
  width: 100vw;
}

.contact__sections {
  display: flex;
  height: 90%;
  width: 100%;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.contact h2 {
  color: $base-light;
  font-size: 2.5vw;
  margin-bottom: 5vh;

  @media (max-width: $mobile) {
    font-size: 6vw;
  }
}

.contact__form {
  align-items: flex-start;
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.inputs {
  display: flex;
  width: 100%;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.form__input {
  border: $border;
  border-radius: 3px;
  font-size: 1.5vw;
  height: 4vw;
  outline: none;
  padding-left: 10px;
  width: 45%;

  @media (max-width: $mobile) {
    font-size: 4vw;
    height: 12vw;
    margin-top: 2vw;
    width: 100%;
  }
}

.form__input:first-of-type {
  margin-right: 5%;
}

.textarea {
  height: 20vw;
  margin-top: 2vw;
  padding: 10px 0 0 10px;
  resize: none;
  width: 95%;

  @media (max-width: $mobile) {
    height: 40vw;
    width: 100%;
  }
}

.submit-result {
  height: 2.6vh;
}

.submit-result h4 {
  color: $base-light;
  font-style: italic;
  font-size: 2.5vh;
  font-weight: $thin;
  letter-spacing: 0.05vw;
}

.social-medias {
  color: $base-light;
  flex: 1;
  display: flex;
  flex-direction: column;

  @media (max-width: $mobile) {
    align-items: center;
    margin-top: 7vw;
  }
}

.social-medias h3 {
  font-size: 2.8vh;
  left: -2px;
  margin: 0 0 20px;
  position: relative;
  text-align: left;

  @media (max-width: $mobile) {
    left: 0;
  }
}

.social-medias__button {
  align-items: center;
  align-self: flex-start;
  display: flex;

  @media (max-width: $mobile) {
    align-self: center;
  }
}

.social-medias__button a {
  align-items: center;
  border-bottom: $border-transparent;
  display: flex;
  font-size: 1.5vw;
  justify-content: center;
  margin-bottom: 2vh;
  padding-bottom: 5px;
  text-decoration: none;
  transition: 0.3s linear;

  @media (max-width: $mobile) {
    font-size: 4vw;
  }
}

.social-medias__button a:hover {
  border-color: $base-light;
}

.social-medias__button h4 {
  color: $base-light;
  font-weight: $thin;
  letter-spacing: 0.05vw;
}

// .fab {
//   color: $base-light;
//   padding: 0px 2.5vw 0 0;
//   font-size: 3.2vh;
//   width: 40px;
//   text-decoration: none;
// }

.social-medias__icon {
  color: $base-light;
  margin-right: 1vw;
}

.download-cv {
  margin-top: 2vh;
  text-align: left;
}

.contact__button,
.download__button {
  background: $base-dark;
  border: $border;
  border-radius: 3px;
  color: $base-light;
  cursor: pointer;
  font-size: 2.3vh;
  height: 5vh;
  outline: none;
  transition: 0.2s linear;
  width: 11vw;

  @media (max-width: $mobile) {
    width: 20vw;
  }
}

.contact__button:hover,
.contact__button:focus,
.download__button:hover,
.download__button:focus {
  background: $base-light;
  color: $base-dark;
}

.download__button {
  border: $border;
  padding: 1vh 3vw;
  text-decoration: none;
}
