.experience {
  padding: 5vh 0;
  position: relative;
  width: 100vw;
}

.experience__item {
  align-items: center;
  display: flex;
  padding: 3vw 3vw 0vw;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

$image-width-desktop: 33vw;
$image-width-mobile: 80vw;

.experience__image {
  border: $border;
  border-radius: 5px;
  box-sizing: unset;
  box-shadow: $shadow;
  height: $image-width-desktop / 1.6;
  margin-left: 1vw;
  transition: transform 0.4s ease-in-out;
  width: $image-width-desktop;

  @media (max-width: $mobile) {
    height: $image-width-mobile / 1.6;
    margin: 2vh 0;
    width: $image-width-mobile;
  }
}

.experience__image:hover {
  transform: scale(1.1);
  transition: transform 0.7s ease-in-out;

  @media (max-width: $mobile) {
    transform: scale(1);
  }
}

.experience__description {
  padding: 2vw 2vw 2vw 5vw;
  width: 65%;

  @media (max-width: $mobile) {
    padding: 5vw 2vw 2vw 2vw;
    text-align: center;
    width: 89%;
  }
}

.experience__description h2 {
  font-size: 4vh;
  font-weight: $thick;

  @media (max-width: $mobile) {
    font-size: 6vw;
  }
}

.experience__description h2 span {
  font-size: 3vh;
  font-weight: $medium;

  @media (max-width: $mobile) {
    font-size: 5vw;
  }
}

.experience__description h3 {
  font-size: 2.5vh;
  font-weight: $medium;
  margin: 3vh 0 2vh 0;
  text-align: justify;

  @media (max-width: $mobile) {
    font-size: 4vw;
  }
}

.experience__description .role {
  text-align: center;
}

.experience__description h4 {
  font-size: 2vh;
  font-weight: $medium;
  margin: 1vh 0 3vh 0;

  @media (max-width: $mobile) {
    font-size: 3vw;
  }
}

.external-link {
  border-bottom: $border-transparent;
  color: $base-dark;
  font-size: 1.5vw;
  font-weight: $thick;
  text-decoration: none;
  transition: 0.3s linear;

  @media (max-width: $mobile) {
    font-size: 5vw;
  }
}

.external-link:hover {
  border-color: $base-dark;

  @media (max-width: $mobile) {
    border-color: transparent;
  }
}

.experience__item__divisor {
  background: #666;
  border-bottom: #666 0.2vh solid;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top: #666 0.2vh solid;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  margin: 5vh auto;
  width: 50vw;

  @media (max-width: $mobile) {
    width: 80vw;
  }
}
