.about {
  background: #2e2e2e;
  border-bottom: #ccc 2px solid;
  border-top: #ccc 2px solid;
  box-shadow: 0 0 10px #2e2e2e;
  display: flex;
  height: 70vh;
  top: -2px; /* TO FILL GAP BETWEEN PICTURE AND MENU*/
  position: relative;
  width: 100vw;
}

.about__profile {
  align-items: center;
  display: flex;
  padding: 5vw;
  text-align: justify;
  width: 45%;
}

.about__profile h3 {
  color: #eee;
  display: inline;
  font-family: 'Raleway', sans-serif;
  font-size: 1.7vw;
  font-weight: 200;
  line-height: 4vh;
}

.about__skills {
  /* background: lightblue; */
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 55%;
}
