.contact {
  background: #2e2e2e;
  border-top: #ccc 2px solid;
  box-shadow: 0 0 10px #2e2e2e;
  height: 70vh;
  padding: 5vh 5vw 10vh;
  width: 100vw;
}

.contact__sections {
  /* background: lightcoral; */
  display: flex;
  height: 90%;
  width: 100%;
}

.contact h2 {
  color: #eee;
  font-family: 'Raleway', sans-serif;
  font-size: 3.5vh;
  margin-bottom: 5vh;
}

.contact__form {
  align-items: flex-start;
  /* background: lightblue; */
  /* border-right: #eee 2px solid; */
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.inputs {
  display: flex;
  height: 15%;
  width: 100%;
}

.form__input {
  border: #ccc 2px solid;
  border-radius: 3px;
  box-shadow: 0 1px 10px #2e2e2e;
  color: #2e2e2e;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5vh;
  outline: none;
  padding-left: 10px;
  width: 45%;
}

.form__input:first-of-type {
  margin-right: 5%;
}

.textarea {
  /* margin: 0 auto; */
  height: 60%;
  padding: 10px 0 0 10px;
  resize: none;
  width: 95%;
}

.submit-result {
  /* background: red; */
  height: 2.6vh;
}

.submit-result h4 {
  color: #eee;
  font-style: italic;
  font-size: 2.5vh;
  font-weight: 200;
  letter-spacing: 0.05vw;
}

.form__button {
  width: 8vw;
}

.social-medias {
  /* background: blue; */
  /* align-items: flex-start; */
  flex: 1;
  display: flex;
  flex-direction: column;
  /* padding: 0 0 0 50px; */
  /* text-align: center; */
}

.social-medias h3 {
  color: #eee;
  font-size: 2.8vh;
  left: -10px;
  margin: 0 0 20px;
  /* padding: 0 20px; */
  /* position: relative; */
  text-align: left;
}

.social-medias__button {
  align-items: center;
  align-self: flex-start;
  /* background: blue; */
  display: flex;
  /* margin: 0 30%; */
  /* height: 60px; */
  /* justify-content: flex-end; */
  /* width: 100px; */
}

.social-medias__button a {
  align-items: center;
  border-bottom: transparent 1px solid;
  display: flex;
  font-size: 2.5vh;
  justify-content: center;
  margin-bottom: 2vh;
  padding-bottom: 5px;
  text-decoration: none;
  transition: 0.3s linear;
}

.social-medias__button a:hover {
  border-color: #eee;
}

.social-medias__button h4 {
  /* background: red; */
  color: #eee;
  font-weight: 200;
  letter-spacing: 0.05vw;
}

.fab {
  /* background: blue; */
  color: #eee;
  padding: 0px 2vh 0 0;
  font-size: 30px;
  font-size: 3.2vh;
  width: 40px;
  /* text-align: center; */
  text-decoration: none;
}

.download-cv {
  /* background: red; */
  margin-top: 2vh;
  text-align: left;
  /* width: auto; */
}

.contact__button,
.download__button {
  background: #2e2e2e;
  border: #eee 1px solid;
  border-radius: 3px;
  color: #eee;
  cursor: pointer;
  /* color: #2e2e2e; */
  font-size: 2.3vh;
  height: 5vh;
  /* margin-top: 7vh; */
  outline: none;
  transition: 0.2s linear;
  width: 11vw;
}

.contact__button:hover,
.contact__button:focus,
.download__button:hover,
.download__button:focus {
  background: #eee;
  color: #2e2e2e;
}

.download__button {
  border: #eee 1px solid;
  padding: 1vh 3vw;
  text-decoration: none;
}
