.menu {
  align-items: center;
  background: #2e2e2e;
  border-bottom: #ccc 2px solid;
  box-shadow: 0 1px 10px #2e2e2e;
  display: flex;
  /* height: 5vh; */
  height: 50px;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.logo {
  background: url('/images/logo.png') no-repeat center center / cover;
  cursor: pointer;
  height: 35px;
  left: 50px;
  opacity: 0.8;
  position: absolute;
  width: 35px;
}

.menu__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.menu__list ul {
  margin: 0 2vw;
}

.menu__button {
  background: none;
  border: none;
  border-bottom: transparent 1px solid;
  color: #eee;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6vw;
  /* font-size: 20px; */
  font-weight: 200;
  outline: none;
  transition: 0.3s linear;
}

.menu__button:hover {
  border-color: #eee;
}
