@import url('https://fonts.googleapis.com/css?family=Barrio|Raleway:200,400,700');

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;

  @media (max-width: $mobile) {
    transition: height 1000000000000000s, width 1000000000000000s !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
a,
li {
  margin: 0;
  padding: 0;
}

body {
  background: $base-light;
  color: $base-dark;
}

.app {
  height: 100vh;
  width: 100vw;
}
